<section style="padding-bottom: 100px;">
    <table class="table" id="adminTable">
        <div class="row">
            <div class="col-md-6 mb-3">
                <a href="#add" class="btn btn-primary ml-auto" style="margin-top: 20px;">Add New
                    Coupon</a>
            </div>
        </div>
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Coupon</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Percentage</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {{#each coupon}}
            <tr>
                <td >{{inc @index}}</td>
                <td>{{this.Coupon}}</td>

                <td>{{this.Starting}}</td>
                <td>{{this.Expiry}}</td>
                <td>{{this.Offer}}</td>
                <td>
                    {{!-- <a href="/admin/edit-coupon/{{this._id}}" class="btn btn-primary"><i class="fas fa-edit"></i></a> --}}
                    <a class="btn btn-danger" href="/delete-coupon/{{this._id}}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</section>
<hr>
<section id="add">
    <div class="half">
        <div class="bg order-1 order-md-2"></div>

        <div class="contents order-2 order-md-1">
            <div class="container">
                    <div class="col-md-12">
                <div class="row align-items-center justify-content-center">
                        <div class="col-md-6">
                            <div class="form-block" id="cat">
                                <div class="text-center mb-5">
                                    <h3>Add new <strong>Coupon</strong></h3>
                                    {{#if catErr}}
                                    <p class="text-center text-danger">{{catErr}}</p>
                                    {{/if}}
                                </div>
                                <form action="/admin/coupon-offer" id="productPage" method="post">
                                    {{#if couponExist}}
                                    <div class="alert alert-danger" role="alert">
                                        This Coupon is already exist!
                                    </div>
                                    {{/if}}
                                    <div class="form-group first">
                                        <label for="category">Coupon code</label>
                                        <input type="text" class="form-control" name="Coupon">

                                        <label class="pt-4">Starting Date</label>
                                        <input type="Date" class="form-control" required name="Starting" id="str">
                                        <label class="pt-4">Expiry Date</label>
                                        <input type="Date" class="form-control" required name="Expiry" id="exp">
                                        <label class="pt-4">Coupon Percentage</label>
                                        <input type="text" class="form-control" required min="1" name="Offer" max="95"
                                            onkeypress="return isNumber(event)">
                                    </div>
                                    <input type="submit" value="Add" id="prosub" class="btn btn-block btn-primary">

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        let today = new Date()
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = yyyy + '-' + mm + '-' + dd;
        $('#str').attr('min', today)
        $('#str').change(function () {
            let date = document.getElementById('str').value
            $('#exp').attr('min', date)
        })
    })
</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>